[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=Diamond Scope Handler
Exec=diamond-newscope %F
MimeType=application/x-diamond-scope;
NoDisplay=true

