<Files ~ "^.*\.([Cc][Oo][Nn][Ff])">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>

AuthUserFile /root/.htpasswd
AuthGroupFile /dev/null
AuthName "GateKeeper"
AuthType Basic
#require user rgass
#require user upmc
require valid-user

