*~
*.egg-info
*.o
*.lo
*.la
*.loT
*.pc
*.pyc
*.so
*.swp
Makefile
Makefile.in
.cache
.deps
.dirstamp
.eggs
.libs
.tox
.idea
/*.tar.gz
/aclocal.m4
/autom4te.cache
/libtool
/stamp-h1
/config.*
/configure
/build
/dist
/docker/miniconda.sh
/docker/tini
/venv
/doc/diamond-protocol.html
