# opendiamond core
pip>=1.5.6

# If encountered "undefined symbol: SSLv2_method", try uninstalling the pip version and (re)installing python-m2crypto from apt.
#M2Crypto==0.25.1

Pillow==4.0.0
lxml==3.7.3
python-dateutil==2.6.0
six==1.10.0

# jsonblaster
file-magic==0.3.0
pycurl==7.43.0
simplejson==3.10.0
sockjs-tornado==1.0.3
tornado==4.4.2
validictory==1.1.0

# dataretriever
Paste==2.0.3
flickrapi==2.2.1
flask==0.12.2
werkzeug==0.12.2

# dataretriever-video
# av depends on python-dev pkg-config cp libavformat-dev libavcodec-dev libavdevice-dev libavutil-dev libswscale-dev libavresample-dev libavfilter-dev
av==0.3.3

# dataretriever-mysql
mysql-connector-python==8.0.6

# diamondd
docker==3.7.0
psutil==3.4.2
PyYAML==3.12
raven==6.6.0
redis==2.10.5
xmltodict==0.11.0

# scopeserver
# Django==1.3.7

# testing
flake8>=3.0.4
pylint>=1.5.6
pylint-django>=0.7.2
pytest>=2.9.2
pytest-catchlog>=1.2.2
pytest-runner>=2.11.1
pytest-timeout>=1.0.0
