Source: diamond
Section: unknown
Priority: optional
Maintainer: diamond <diamond@cs.cmu.edu>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, autoconf
Build-Conflicts: autoconf2.13
Standards-Version: 3.6.2

Package: diamond
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Diamond: a system for interactive search
 This package provides the Diamond infrastructure and API for building 
 content search applications. 

