<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}OpenDiamond Scopeserver{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}scopeserver/base.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}scopeserver/style.css" />
    {% block head %}{% endblock %}
</head>
<body>
    <h1>{% block pagetitle %}OpenDiamond Scopeserver{% endblock %}</h1>
    <div style="float: right">
{% if user.is_anonymous %}
    <a href="{{ LOGIN_URL }}">Login</a></li>
{% else %}
    Welcome {{ user }}
    <a href="{{ LOGOUT_URL }}?next={% url 'opendiamond.scopeserver.core.views.index' %}">Logout</a></li>
{% endif %}
    </div>
    <div id="sidebar">
    {% block sidebar %}
    <ul>
        <li><a href="{% url 'opendiamond.scopeserver.core.views.index' %}">Home</a></li>
{% url 'opendiamond.scopeserver.gatekeeper.views.index' as gatekeeper %}
{% if gatekeeper %}
    {% if user.is_staff or user.collection_set.all.count %}
        <li><a href="{{ gatekeeper }}">Gatekeeper</a></li>
    {% endif %}
{% endif %}

{% url 'opendiamond.scopeserver.metadata.views.index' as metadata %}
{% if metadata %}
    {% if user.is_staff or user.metadatacollection_set.all.count %}
        <li><a href="{{ metadata }}">Metadata</a></li>
    {% endif %}
{% endif %}

{% url 'opendiamond.scopeserver.flickr.views.index' as flickr %}
{% if flickr %}
    {% if user.is_staff or perms.flickr.search %}
        <li><a href="{{ flickr }}">Flickr</a></li>
    {% endif %}
{% endif %}
{% url 'opendiamond.scopeserver.mirage.views.index' as mirage %}
{% if mirage %}
    {% if user.is_staff or perms.mirage.search %}
        <li><a href="{{ mirage }}">Mirage</a></li>
    {% endif %}
{% endif %}
{% url 'opendiamond.scopeserver.gigapan.views.index' as gigapan %}
{% if gigapan %}
    {% if user.is_staff or perms.gigapan.search %}
	<li><a href="{{ gigapan }}">GigaPan</a></li>
    {% endif %}
{% endif %}
{% if user.is_staff %}
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
{% endif %}
    </ul>
    {% endblock %}
    </div>

    <div id="content">
    {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="{{ STATIC_URL }}scopeserver/jquery.js"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>

